/* progressive enhnancement from float-flexbox-grid */
/* float has been used primarily */

body {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    padding: 15px;
    background-color: #f7f7f7;
}

.container {
    /* enhancement with GRID */
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-areas:
        'header header header'
        'content content sidebar'
        'footer footer footer';
    grid-template-columns: auto auto auto;
}

nav.menu {
    width: 98%;
}

nav.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    /* enhancement with FLEXBOX */
    display: flex;
}

nav.menu ul>li:last-child {
    margin-left: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    padding: 4px 6px;
}

main {
    clear: left;
    float: left;
    min-width: 74%;
    max-width: 1200px;

    /* enhancement with GRID */
    grid-area: content;
    grid-column: 1/2;
}

aside {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    min-width: 15%;

    /* enhancement with GRID */
    grid-area: sidebar;
    grid-column: 3/4;
}

aside h2 {
    text-align: center;
}

header {
    /* enhancement with GRID */
    grid-area: header;
    grid-column: 1/4;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

figure {
    margin: 0px;
    color: white;
    background-color: black;
    width: 100%;
    height: 180px;
    background-image: url(https://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/sitepoint_about.jpg);
}

.card {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

footer {
    clear: left;
    padding: 15px;
    text-align: center;
    color: white;
    background-color: black;

    /* enhancement with GRID */
    grid-area: footer;
    grid-column: 1/4;
}

@media screen and (max-width: 800px) {

    main,
    aside {
        width: 100%;
        padding: 0;
    }
}